body
{
	background-color: rgba(177, 159, 131);
	background-size: 100%;
	background-repeat: no-repeat;
}

nav
{
  	/*background-color: rgba(0, 0, 0, 0.5);*/
 	color:rgb(201, 186, 129);
}

.containerClass {
  	overflow-y: scroll;
  	background-color: rgba(0, 0, 0, 0.5);
	color:white;

  /*background-color: rgba(241, 241, 241  ,0.2);*/
  
}

.customDivs{
	/*background-color: rgba(241, 241, 241  ,0.8);*/
	background-color: rgba(0, 0, 0,0.6);
	border-radius: 25px;
}



footer{

	color:black;
}