<!-- templates/home.html-->
<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SHFC-Events{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center">
            <h1>Fishing/Boating</h1>
            <h2>Boating Trips</h2>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 customDivs">
        <br>
        <div class="col-12 text-center">
            <h4>Chatfield Boat Trips</h4>
        </div>
        <div class="col-12">
            <p>
                Matt Boldra is the coordinator of the weekly trips to Chatfield. I’m planning on taking members out twice a month on Thursdays after work. I’m also considering setting up a trip to Wolford in September to fish and instruct how to catch kokanee salmon. That trip will depend upon interest from the members. 
            </p>
            <p>
                The boat trips starts late March on Chatfield so if anyone wants to spend an evening with me in the club boat let me know. There is no cost and no equipment needed for these trips which are designed to help people learn how to run the club boats but also learn about chasing walleye at Chatfield. April and May are trolling trips late into the night for the largest walleyes of the year. Late May and June are casting trips for numbers of walleyes. July and August are a mixed bag of techniques depending on what is going on, and September thru November are typically casting trips for some small and some large fish. If you want a specific date let me know and you do not need to be a club member to sign up.
            </p>
            <div class="col-12 text-center">
                <p>
                    Contact Info
                </p>
                <p>
                    Matt Boldra,  Work: 303-977-8950,  Mobile: 602-516-5885,  <a href="mailto:matthew.boldra@lmco.com">matthew.boldra@lmco.com</a> 
                </p>
            </div>
            
        </div>
        <br>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 customDivs">
        <br>
        <div class="col-12 text-center">
            <h3>Granby/Williams Fork Lake Trout Trip</h3>
        </div>
        <div class="col-12">
            <p>
                Matt Boldra is the coordinator of the Granby Trip. This trip has been a highlight of the SHFC for quite a few years now. I’ve been on several of the guided trips and Club days and have always had a great time. Those who have joined us know what I’m talking about. The first day we spend with Bernie Keefe (http://www.fishingwithbernie.com) chasing lake trout on either Granby or Williams Fork. If we have 4/5 people we will take sleds onto Granby and search for big fish. In good years we may land 3-4 fish over 30” with the biggest so far just over 40”. We are constantly moving and searching for active fish. While we can never guarantee big fish I can guarantee you will learn more about fishing for Colorado’s lake trout in one day than you will learn fishing for weeks on your own. Bernie is also a lot of fun to fish with and worth the money you will spend. Typical cost for this trip is $200 +tip for four people or less on Granby, $100 + tip for 5+ on Williams Fork.
            </p>
            <div class="col-12 text-center">
                <p>
                    Contact Info
                </p>
                <p>
                    Matt Boldra,  Work: 303-977-8950,  Mobile: 602-516-5885,  <a href="mailto:matthew.boldra@lmco.com">matthew.boldra@lmco.com</a> 
                </p>
            </div>
            
        </div>
        <br>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 customDivs">
        <br>
        <div class="col-12 text-center">
            <h3>Fishing / Ice Fishing Gear check-out</h3>
        </div>
        <div class="col-12">
            <p>
                To check out any of the club’s fishing gear, please contact <a href="mailto:jared.n.cross@hotmail.com">Jared Cross</a>. The club has a variety of gear for use, including a couple of portable fish finders and some trolling equipment. To check out a boat, please see the boating page and contact Gary Keyser. The club also has ice fishing gear available for check out including a gas-powered auger (10” chipper or 6” shaver blade available), a couple Humminbird flashers, several tip-ups, three shelters (one fold-up, and single or double pop-up), and several portable propane heaters (both small and large).
            </p>
            <div class="col-12 text-center">
                <p>
                    Contact Info
                </p>
                <p>
                   Jared Cross, Work: N/A, Mobile: N/A, <a href="mailto:jared.n.cross@hotmail.com">jared.n.cross@hotmail.com</a> 
                </p>
                <p>
                    Matt Boldra,  Work: 303-977-8950,  Mobile: 602-516-5885,  <a href="mailto:matthew.boldra@lmco.com">matthew.boldra@lmco.com</a> 
                </p>
            </div>
        </div>
        <br>
    </div>
</div>


{% endblock %}