<!-- templates/home.html-->
<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SHFC-Events{% endblock %}

{% block content %}

{% block js %}


<script type="text/javascript">
$(document).ready(function() {

    
    $('#MARINEcalendar').fullCalendar({
        dayClick: function(date, jsEvent, view) {
            document.getElementById('eventStartDate').value = date.format()
        },
        
        // eventClick: function(calEvent, jsEvent, view) {

        //     alert('Event: ' + calEvent.title);
        //     alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        //     alert('View: ' + view.name);

        //     // change the border color just for fun
        //     $(this).css('border-color', 'red');

        // },
        events: [ 

        ],
        editable:true,

    });

});

</script>

{% endblock js%}


<style>
.fc-day-grid-event > .fc-content {
    white-space: normal;
}
</style>

<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center">
            <h1>Marine</h1>
            <h2>Boating Calendar</h2>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center" id="calendar_container" >
            <div id='MARINEcalendar'></div>
            <br>
        </div>
    </div>
</div>    
{% endblock %}