<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Shooting Range{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center">
            <h1>Ranges </h1>
            <h2>Shooting Range</h2>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 bg-danger text-center customDivs">
        <b>
            <p>
                All Firearm Ranges are open from one half hour before sunrise until 10 PM EXCEPT during normal working hours Monday through Friday* (7 AM to 4 PM) when the ranges will be closed. *Note, since normal working hours do not include " Off Fridays (track A)" and LMSSC designated Holidays, all ranges will be open from one half hour before sunrise until 10 PM on these days also (RSO must be active/on site - see RSO Calendar). The Archery (NO FIREARMS) Range is open at all times. SHFC members who have NOT completed the MANDATORY Safety Training & Testing and received the 2017 badge will NOT be allowed access to the range As of April 1 2017. We no longer access the ranges though the Lockheed Martin gate! Skyline Hunting & Fishing is a private club - You must be an employee or retiree of Lockheed Martin Company, United Launch Alliance (ULA), or an affiliated Defense Dept contractor for eligibility for membership.
            </p>
        </b>    
    </div>
</div>
<br>
<div class="row" id="range_200_300_section">
    <div class="col-7 customDivs" >
        <div class="col-12 text-center" >
            <h3>200/300 Yard</h3>
        </div>
        <div class="col-12" >
            <p> 
            </p>
        </div>
    </div>
    <div class="col-5" >
        <img src="{% static 'images/200_300_range/200_300.JPG' %}" class="img-thumbnail">
    </div>
</div>
<br>
<div class="row" id="range_100section">
    <div class="col-5">
        <img src="{% static 'images/100_range/100.JPG' %}" class="img-thumbnail">
    </div>
    <div class="col-7 customDivs">
        <div class="col-12 text-center">
            <h3>100 Yard</h3>
        </div>
        <div class="col-12">
            <p> 
            </p>
        </div>
    </div>
</div>

<br>

<div class="row" id="range_25_50_section">
    <div class="col-7 customDivs">
        <div class="col-12 text-center">
            <h3>25/50 Yard</h3>
        </div>
        <div class="col-12">
            <p> 
            </p>
        </div>
    </div>
    <div class="col-5">
        <img src="{% static 'images/25_50_range/25_50.JPG' %}" class="img-thumbnail">
    </div>
</div>

<br>

<div class="row" id="range_trap_section">
    <div class="col-5 text-center">
        <img src="{% static 'images/Trap/trap.JPG' %}" class="img-thumbnail">
    </div>
    <div class="col-7 customDivs">
        <div class="col-12 text-center">
            <h3>Trap and Skeet</h3>
        </div>
        <div class="col-12">
            <p> 
            </p>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center">
            <h3>Hosted Events</h3>
        </div>
        <div class="col-12">
            <h4>Practical Pistol</h4>
            <p>
                Practical Pistol matches are held during daylight savings time. Please see the calendar or contact for start time and details.
                <br>
                <br>
                Ladies Only- Monday night.  Contact Dave Norris, 303-977-8068
                <br>
                <br>
                Practical Pistol Lite- Monday night.  Contact Dave Norris, 303-977-8068
                <br>
                <br>
                Practical Pistol- Wednesday night.  Contact Mike Sullivan, 303-977-3478
            </p>
        </div>
        <br>
        <div class="col-12">
            <h4>3 Gun</h4>  
            <p>
                Summer 3 Gun- 1st Off-Friday morning from May through October.  Contact Walter Tang, 303-408-7860, walter_tang@msn.com
                <br>
                <br>
                Winter 3 Gun- 4th Saturday morning from December through April.  Contact Walter Tang, 303-408-7860, walter_tang@msn.com
            </p>
        </div>
        <br>
        <div class="col-12">
            <h4>Steel Challenge</h4>
            <p>
                Steel Challenge- 2nd Off-Friday morning from May through October.  Contact Walter Tang, 303-408-7860, walter_tang@msn.com
            </p>
        </div>
        <br>
        <div class="col-12">
            <h4>Skeet, Sporting Clay and Trap</h4>
            <p>
            
            </p>
        </div>
        <br>
        <div class="col-12">
            <h4>Muzzle Loader</h4>
            <p>
            
            </p>
        </div>
        <br>
    </div>
</div>
{% endblock %}