<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SHFC-Range{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center">
            <h1>Ranges </h1>
            <h2>Archery Range</h2>
        </div>
    </div>
</div>
<br>

<!-- #####################
##########################
ARCHERY 
##########################
###################### -->
<div class="row">
    <div class="col-12 bg-danger text-center customDivs">
        <b>
            <p>
                All Firearm Ranges are open from one half hour before sunrise until 10 PM EXCEPT during normal working hours Monday through Friday* (7 AM to 4 PM) when the ranges will be closed. *Note, since normal working hours do not include " Off Fridays (track A)" and LMSSC designated Holidays, all ranges will be open from one half hour before sunrise until 10 PM on these days also (RSO must be active/on site - see RSO Calendar). The Archery (NO FIREARMS) Range is open at all times. SHFC members who have NOT completed the MANDATORY Safety Training & Testing and received the 2017 badge will NOT be allowed access to the range As of April 1 2017. We no longer access the ranges though the Lockheed Martin gate! Skyline Hunting & Fishing is a private club - You must be an employee or retiree of Lockheed Martin Company, United Launch Alliance (ULA), or an affiliated Defense Dept contractor for eligibility for membership.
            </p>
        </b>    
    </div>
</div>
<br>
<div class="row" id="range_archery_walking_section">
    <div class="col-7 customDivs">
        <div class="col-12 text-center">
            <h3>Walking Archery</h3>
        </div>
        <div class="col-12">
            <p> 
            </p>
        </div>
    </div>
    <div class="col-5 text-center">
        <img src="{% static 'images/Archery/archery_walking.JPG' %}" class="img-thumbnail">
    </div>
</div>

<br>

<div class="row" id="range_archery_standing_section">
    <div class="col-5 text-center">
        <img src="{% static 'images/Archery/archery_standing.JPG' %}" class="img-thumbnail">
    </div>
    <div class="col-7 customDivs">
        <div class="col-12 text-center">
            <h3>Standing Archery</h3>
        </div>
        <div class="col-12">
            <p> 
            </p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center">
            <h3>Hunting LM Property</h3>
        </div>
        <div class="col-12 customDivs" >
            <h4>Requirements</h4>
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">Member of SHFC in good standing</li>
                <li class="list-group-item list-group-item-dark">Complete 5 hours of workbond for the club.</li>
                <li class="list-group-item list-group-item-dark">Take and pass a bowhunter education class and have the card</li>
                <li class="list-group-item list-group-item-dark">Must attend one of the scheduled mandatory bowhunting safety briefing. (usually held weekly in July/August).</li>
                <li class="list-group-item list-group-item-dark">A valid deer or elk license (or fall turkey license) that includes unit 461.</li>
                <li class="list-group-item list-group-item-dark">Once all requirements are met, the applicant will interface getting a permit from LM plant protection who will verify all requirements are met and issue a hunting permission permit. This is thru the Safety briefing only</li>
            </ul>
            <br>
            <h4>Noteworthy:</h4>
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">You can hunt with either a rifle or archery tag using a <b>bow only</b>, however if bowhunting with a rifle tag, the 500 sq/in hunter orange requirement is still in effect (per CP&W regulations)</li>
                <li class="list-group-item list-group-item-dark">The type of tags are:
                    <ul>General archery deer or elk</ul>
                    <ul>General rifle (1st-4th seasons) deer/elk</ul>
                    <ul>PLO (private land only rifle tags) deer/elk</ul>
                    <ul>Fall Turkey (rifle)</ul>
                </li>

                <li class="list-group-item list-group-item-dark">No muzzle loader big game tags allowed since a bow is not a legal weapon for Muzzleloader season(per CP&W regulations)</li>

        </div>
        <br>
        <div class="col-12">
            <h4>Bow Hunter ED</h4>
            You will need Bow Hunter ED (not just Hunter ED). See the flyer for the bowhunter classes that will be held for Colorado. Please contact Colorado parks and wildlife to get scheduled for class (limited numbers per class). Also see the screen shot of the rules for archery hunting on LM property.
        </div>
        <br>
        <div class="col-12">
            <h4>Archery Hunting Briefing</h4>
                Five Archery Hunting Briefing (2 hr.each) days are planned in late JUNE and JULY. Attendance in one of these briefings is required to receive special archery hunting permission permit from security for hunting on LMCO property. Please do not call security for these permits. The LM property is a draw area (461). Contact James Q Gilmore for any question.   
        </div>
        <br>
        <div class="col-12">
            <h4>Archery Hunting Rules</h4>
            <div class="col-12 text-center">
                <img src="{% static 'images/logos/Hunting_Rules/archery_hunt_rules.png' %}" class="img-thumbnail">
            </div>
        </div>
        <br>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12 customDivs text-center">
        <h3>Archery Inventory</h3>
    <div class="col-12 text-center">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <td colspan="4"><h5>Archery Equipment</h5></td>
                </tr>
                <tr>
                    <td colspan="4">For use by Club Members and Hunters Education </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Tree Stand & Safety belt
                    </td>
                    <td>
                        Arrows
                    </td>
                    <td>
                        Finger Tabs
                    </td>
                    <td>
                        Arm Guards
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="badge badge-primary badge-pill">4</span>
                        <br>
                        Fiber glass recurve bows (2 red & 2 gold) 
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">2</span>
                        <br>
                        compound Bear bows (RH) (1 green & 1 white)
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        compound Bear bow (RH) (kids)
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Bear Minuteman recurve bow (RH)
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="badge badge-primary badge-pill">2</span>
                        <br>
                        compound Brave bows (RH)
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        compound Jennings T Star (RH)
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Darton compound bow (RH)
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Indian Golden Comanche compound bow (RH)
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        PSE USA Spirit compound bow (LH)
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Wing archery recurve bow (RH)
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Saunders recurve bow (LH) breakdown
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">3</span>
                        <br>
                        3D Standing Deer
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 text-center">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <td colspan="4"><h5>3D Targets</h5></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="badge badge-primary badge-pill">2</span>
                        <br>
                        Laying down deer
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">4</span>
                        <br>
                        Boar
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">4</span>
                        <br>
                        Standing deer
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">4</span>
                        <br>
                        Strutting turkey
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="badge badge-primary badge-pill">2</span>
                        <br>
                        Black Bear
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">3</span>
                        <br>
                        Raccoon
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Ground Hog
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">3</span>
                        <br>
                        Wolf
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="badge badge-primary badge-pill">2</span>
                        <br>
                        Standing Bear
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Antelope
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">3</span>
                        <br>
                        Javelina
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Large standing deer
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="badge badge-primary badge-pill">3</span>
                        <br>
                        Small standing deer (small)
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">3</span>
                        <br>
                        Coyote
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">2</span>
                        <br>
                        Bear on all 4s
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Feeding deer
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="badge badge-primary badge-pill">1</span>
                        <br>
                        Bobcat
                    </td>
                    <td>
                    
                    </td>
                    <td>
                    
                    </td>
                    <td>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 text-center">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <td colspan="4"><h5>Miscellaneous Equipment</h5></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Compound Bow Press
                    </td>
                    <td>
                        Arrow straightener
                    </td>
                    <td>
                        Bow Scale
                    </td>
                    <td>
                        High Speed Target with stand
                    </td>
                </tr>
                <tr>
                    <td>
                        Game Cart #1
                    </td>
                    <td>
                        Game Cart #2
                    </td>
                    <td>
                        Bander & Misc Tools
                    </td>
                    <td>
                        Fletcher
                    </td>
                </tr>
                <tr>
                    <td>
                        Game scale
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock %}