{% extends "base.html" %}

{% block nav-home %}<strong class="nav-active nav-justified">Home</strong>{% endblock %}
{% block content %}

<div class="col-sm-12">
          
  <div class="row">
    <dir class="col-sm-6">
      <h3>About</h3>
      <p>
        Nullam commodo sed ex eu fringilla. Nam lacinia aliquam rhoncus. Cras sodales, enim sed iaculis volutpat, eros quam laoreet ante, vitae efficitur arcu dolor at nisl. Integer a blandit mi. Maecenas magna sapien, pharetra vitae lorem non, sollicitudin tristique dui. Quisque vehicula metus at purus auctor, vitae egestas tellus vehicula. Nulla sed viverra ligula, eget eleifend tellus. Suspendisse vestibulum porttitor leo sit amet mollis. Ut tempus elit sit amet ante dapibus efficitur. Sed ac sem lobortis, finibus arcu quis, laoreet tellus. Nulla at fermentum dolor. Integer id pretium nunc, sit amet tempor sem. Fusce gravida felis urna, nec viverra leo pharetra quis. Integer vitae nibh at lacus vestibulum aliquam ac ac quam. Cras mattis at leo sed commodo. Duis pharetra dignissim purus, sit amet tincidunt neque elementum vel.
      </p>
    </dir>
    <dir class="col-sm-6">
      <h3>Some Information</h3>
      <p>
        Nullam commodo sed ex eu fringilla. Nam lacinia aliquam rhoncus. Cras sodales, enim sed iaculis volutpat, eros quam laoreet ante, vitae efficitur arcu dolor at nisl. Integer a blandit mi. Maecenas magna sapien, pharetra vitae lorem non, sollicitudin tristique dui. Quisque vehicula metus at purus auctor, vitae egestas tellus vehicula. 
      </p>
    </dir>
  </div>
<div class="row">
  <dir class="col-sm-12">
    <h3>Available Public Resourses</h3>
      <p>
    	
        Nullam commodo sed ex eu fringilla. Nam lacinia aliquam rhoncus. Cras sodales, enim sed iaculis volutpat, eros quam laoreet ante, vitae efficitur arcu dolor at nisl. Integer a blandit mi. Maecenas magna sapien, pharetra vitae lorem non, sollicitudin tristique dui. Quisque vehicula metus at purus auctor, vitae egestas tellus vehicula. Nulla sed viverra ligula, eget eleifend tellus. Suspendisse vestibulum porttitor leo sit amet mollis. Ut tempus elit sit amet ante dapibus efficitur. Sed ac sem lobortis, finibus arcu quis, laoreet tellus. Nulla at fermentum dolor. Integer id pretium nunc, sit amet tempor sem. Fusce gravida felis urna, nec viverra leo pharetra quis. Integer vitae nibh at lacus vestibulum aliquam ac ac quam. Cras mattis at leo sed commodo. Duis pharetra dignissim purus, sit amet tincidunt neque elementum vel.
        Nullam commodo sed ex eu fringilla. Nam lacinia aliquam rhoncus. Cras sodales, enim sed iaculis volutpat, eros quam laoreet ante, vitae efficitur arcu dolor at nisl. Integer a blandit mi. Maecenas magna sapien, pharetra vitae lorem non, sollicitudin tristique dui. Quisque vehicula metus at purus auctor, vitae egestas tellus vehicula. Nulla sed viverra ligula, eget eleifend tellus. Suspendisse vestibulum porttitor leo sit amet mollis. Ut tempus elit sit amet ante dapibus efficitur. Sed ac sem lobortis, finibus arcu quis, laoreet tellus. Nulla at fermentum dolor. Integer id pretium nunc, sit amet tempor sem. Fusce gravida felis urna, nec viverra leo pharetra quis. Integer vitae nibh at lacus vestibulum aliquam ac ac quam. Cras mattis at leo sed commodo. Duis pharetra dignissim purus, sit amet tincidunt neque elementum vel.
      </p>
    </dir>
  </div>
</div>

{% endblock %}
