{% extends "base.html" %}


{% block nav-home %}
<li role="presentation">
  <a href="/" class="btn btn-link" role="button">Home</a>
</li>
{% endblock %}

{% block nav-range %}
<li role="presentation" class="active">
  <a href="/range/" class="btn btn-link" role="button">Range</a>
</li>
{% endblock %}


{% block content %}
<div class="col-sm-12">
  <dir class="row">
    <h3>200 Yard</h3>
	  <div class="col-sm-8">
        <p>	
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur purus metus, malesuada non nulla nec, luctus rutrum tortor. Proin pharetra venenatis sem, nec placerat neque dignissim eu. Proin viverra in arcu vitae tempus. Vestibulum laoreet, magna in aliquet interdum, tortor justo cursus justo, vel scelerisque nunc nunc vel neque. Morbi suscipit nunc vel commodo pretium. Ut faucibus at metus nec condimentum. Nullam in nibh justo. Sed ut posuere turpis, vel molestie est. Donec eu accumsan mi.
        </p>
	  </div>
	  <div class="col-sm-4">
	    <img src="{{ STATIC_URL }}shooting_house_long.jpg" class="img-thumbnail">
  	  </div>
  </dir>

  <dir class="row">
    <h3>100 Yard</h3>
    <div class="col-sm-4">
      <img src="{{ STATIC_URL }}shooting_house.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-8">
        <p>	

          Nullam commodo sed ex eu fringilla. Nam lacinia aliquam rhoncus. Cras sodales, enim sed iaculis volutpat, eros quam laoreet ante, vitae efficitur arcu dolor at nisl. Integer a blandit mi. Maecenas magna sapien, pharetra vitae lorem non, sollicitudin tristique dui. Quisque vehicula metus at purus auctor, vitae egestas tellus vehicula. Nulla sed viverra ligula, eget eleifend tellus. Suspendisse vestibulum porttitor leo sit amet mollis. Ut tempus elit sit amet ante dapibus efficitur. Sed ac sem lobortis, finibus arcu quis, laoreet tellus. Nulla at fermentum dolor. Integer id pretium nunc, sit amet tempor sem. Fusce gravida felis urna, nec viverra leo pharetra quis. Integer vitae nibh at lacus vestibulum aliquam ac ac quam. Cras mattis at leo sed commodo. Duis pharetra dignissim purus, sit amet tincidunt neque elementum vel.
        </p>
    </div>
  </dir>

  <dir class="row">
	  <h3>Pistol House</h3>
	  <div class="col-sm-8">
        <p>	
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur purus metus, malesuada non nulla nec, luctus rutrum tortor. Proin pharetra venenatis sem, nec placerat neque dignissim eu. Proin viverra in arcu vitae tempus. Vestibulum laoreet, magna in aliquet interdum, tortor justo cursus justo, vel scelerisque nunc nunc vel neque. Morbi suscipit nunc vel commodo pretium. Ut faucibus at metus nec condimentum. Nullam in nibh justo. Sed ut posuere turpis, vel molestie est. Donec eu accumsan mi.
        </p>
	  </div>
	  <div class="col-sm-4">
	    <img src="{{ STATIC_URL }}pistol_house.jpg" class="img-thumbnail">
  	  </div>
  </dir>  
</div>

  <dir class="row">
    <h3>Trap and Skeet</h3>
    <div class="col-sm-4">
      <img src="{{ STATIC_URL }}shooting_trap.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-8">
        <p>	

          Nullam commodo sed ex eu fringilla. Nam lacinia aliquam rhoncus. Cras sodales, enim sed iaculis volutpat, eros quam laoreet ante, vitae efficitur arcu dolor at nisl. Integer a blandit mi. Maecenas magna sapien, pharetra vitae lorem non, sollicitudin tristique dui. Quisque vehicula metus at purus auctor, vitae egestas tellus vehicula. Nulla sed viverra ligula, eget eleifend tellus. Suspendisse vestibulum porttitor leo sit amet mollis. Ut tempus elit sit amet ante dapibus efficitur. Sed ac sem lobortis, finibus arcu quis, laoreet tellus. Nulla at fermentum dolor. Integer id pretium nunc, sit amet tempor sem. Fusce gravida felis urna, nec viverra leo pharetra quis. Integer vitae nibh at lacus vestibulum aliquam ac ac quam. Cras mattis at leo sed commodo. Duis pharetra dignissim purus, sit amet tincidunt neque elementum vel.
        </p>
    </div>
  </dir>
{% endblock %}


