<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html class="h-100">

<head>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.js' %}" /> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<!-- Custom -->
<link rel="stylesheet" type="text/css" href="{% static 'css/custom/custom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/custom/site.css' %}" />
<!-- Calendar -->
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar-3.4.0/fullcalendar.min.css' %}"rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar-3.4.0/fullcalendar.print.min.css'%}" rel='stylesheet' media='print' />
<script src="{% static 'fullcalendar-3.4.0/lib/moment.min.js'%}"></script>
<script src="{% static 'fullcalendar-3.4.0/lib/jquery.min.js'%}"></script>
<script src="{% static 'fullcalendar-3.4.0/fullcalendar.min.js'%}"></script>
<!-- <script src="{% static 'js/custom/calendar.js'%}"></script> -->


  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body class="h-100" background="{% static 'images/bull_elk.jpg' %}">
    <div class="h-25" style="background-color: rgba(0, 0, 0, 0.5);
	color:white;">
    	<div class="col-12 text-center">
    		<a class="navbar-brand" href="{% url 'shfc:home'%}">
	  			<img src="{% static 'images/shfclogo.png' %}">
			</a>  
    	</div>
		<ul class="nav nav-tabs nav-fill">
			<li class="nav-item">
		  		<a class="nav-link" href="{% url 'shfc:home'%}">Home</a>
			</li>
		  	<li class="nav-item dropdown">
	  			<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'shfc:range'%}" roll="button">Ranges</a>
		    	<div class="dropdown-menu">
		    		<h6 class="dropdown-header">Calendar</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:range'%}">RSO</a>
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header">Shooting</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:rangeShooting'%}">Ranges / Information</a>
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header">Archery</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:rangeArchery'%}">Ranges / Information</a>
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header">Images</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:rangeImages'%}">Gallery</a>
	  			</div>
	  		</li>
		  	<li class="nav-item dropdown">
	  			<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'shfc:marine'%}" roll="button">Marine</a>
		    	<div class="dropdown-menu">
	  				<h6 class="dropdown-header">Boating Reservations</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:marine'%}">Calendar</a>
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header">Information</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:marineBoatInformation'%}">Boats/Rentals/Training</a>
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header">Trips</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:marineBoatTrips'%}">Boating Trips</a>
	  			</div>
	  		</li>
	  		<li class="nav-item">
	  			<a class="nav-link" href="{% url 'shfc:events'%}">Events & Classes</a>
		  	</li>
		  	<li class="nav-item dropdown">
	  			<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'shfc:membership'%}" roll="button">Membership</a>
		    	<div class="dropdown-menu">
	  				<h6 class="dropdown-header">Information</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:membership'%}">Membership</a>
		    		{% if user.is_authenticated %}
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header">Benefits</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:purchase'%}">Purchasing</a>
	  				<a class="dropdown-item" href="{% url 'shfc:purchasePowderValley'%}">Powder Valley</a>
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header">Work Bonds</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:workBond'%}">Work Bond</a>
	  				{% else %}
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header">Benefits</h6>
	  				<a class="dropdown-item disabled" href="{% url 'shfc:purchase'%}">Purchasing (login required)</a>
	  				<a class="dropdown-item disabled" href="{% url 'shfc:purchasePowderValley'%}">Powder Valley (login required)</a>
	  				<div class="dropdown-divider"></div>
	  				<h6 class="dropdown-header disabled">Work Bonds</h6>
	  				<a class="dropdown-item disabled" href="{% url 'shfc:workBond'%}">Work Bond (login required)</a>

		    		{% endif %}
		    	</div>
		  	</li>
		  	{% if user.is_authenticated %}
		  	<li>
	  			<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'shfc:membership'%}" roll="button">Site Management</a>
		    	<div class="dropdown-menu">
	  				<h6 class="dropdown-header">Announcement Management</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:calendarManagementANNOUNCEMENTS'%}">Announcement</a>
	  				<div class="dropdown-divider"></div>
		    		<h6 class="dropdown-header">Calendar Management</h6>
	  				<a class="dropdown-item" href="{% url 'shfc:calendarManagementRSO'%}">RSO Calendar</a>
	  				<a class="dropdown-item disabled" href="{% url 'shfc:calendarManagementEVENTS'%}">Events Calendar (not available yet)</a>
	  				<a class="dropdown-item disabled" href="{% url 'shfc:calendarManagementMARINE'%}">Marine Calendar (not available yet)</a>
		    	</div>
		  	</li>
		  	{% endif %}
	  		<li class="nav-item">
	  			<a class="nav-link" href="{% url 'shfc:documents'%}">All Documents</a>
		  	</li>
		    {% if user.is_authenticated %}
	  		<li class="nav-item">
		  		<a class="navbar-brand text-warning" href="{% url 'logout' %}">Logout</a>
	  		</li>
	  		<li class="nav-item disabled">
	  			<h4>
	  				{{ user.username }}
	  			</h4>
	  		</li>
	  		{% else %}
	  		<li class="nav-item">
	  			<a  class="navbar-brand text-warning" href="{% url 'login' %}">
	  				Login
	  			</a>
	  		</li>
	  		{% endif %}
		</ul>
	</div>
  <main class="h-75">
    <div class="col-12 h-100">
    	<div class="row h-100">
    		<div class="col-9 containerClass h-100">
      		{% block content %}
      			<br>
      			<br>
      		{% endblock %}
      		<br>
      		<footer class="row customDivs" style="color:white">
	      		<div class="row">
	      			<div class="col-6 text-center">
	      				<h4>Mailing Address</h4>
	      				Skyline Hunting & Fishing Club
						P.O. Box 621489
						Littleton, Co. 80162-1489
	      			</div>
	      			<div class="col-6 text-center">
	      				<h4>Contact</h4>
	      				<address>
	      					Board Of Directors
	      					<a href="mailto:shfc_board@lists.skylinehfc.org">shfc_board@lists.skylinehfc.org</a>
	      					
	      				</address>
	      			</div>
	      			<div class="col-12 text-center">
		      			<a href="https://www.google.com/maps/place/39%C2%B031'29.5%22N+105%C2%B005'37.9%22W/@39.5248712,-105.1026118,2503m/data=!3m2!1e3!4b1!4m15!1m8!3m7!1s0x0:0x0!2zMznCsDMwJzMxLjkiTiAxMDXCsDA2JzI4LjkiVw!3b1!7e2!8m2!3d39.5088652!4d-105.1080265!3m5!1s0x0:0x0!7e2!8m2!3d39.5248716!4d-105.0938571"   target="_blank">
		      				<img src="{% static 'images/google_map_location.png' %}" class="img-thumbnail" style="height:200px; width:200px"/>
		      			</a>
	      			</div>
	      			<div class="col-12 text-center">
	      				<br>
	      				<p>
	      					Copyright &copy 2018 Skyline Hunting and Fishing Club
	      				</p>
	      			</div>
	      		</div> 
	      	</footer>
    		</div>
    		<div class="col-3 text-center containerClass h-100" style="border-left:solid">
    			<h2>Announcements</h2>
    			{% for announcement in announcements %}
    			<div class="card text-white bg-{{announcement.announcement_type}} mb-3 customDivs text-left">
  					<div class="card-header">
  						<h5>{{announcement.announcement_title}}</h5>
  					</div>
  					<div class="card-body">
   						<p class="card-text">{{announcement.announcement_description | linebreaks}}</p>
   						<p class="card-text"><b>Posted By: </b> {{announcement.announcement_user.first_name}} {{announcement.announcement_user.last_name}}</p>
    					<p class="card-text">{{announcement.announcement_date}}</p>
  					</div>
				</div>  
    			<br>
    			{% endfor %}
    		</div>
    	</div>
    </div>
  </main>
</body>
</html>
