<!-- templates/home.html-->
<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SHFC-Events{% endblock %}

{% block content %}

{% block js %}


<script type="text/javascript">
$(document).ready(function() {

    
    $('#EVENTScalendar').fullCalendar({
    	dayClick: function(date, jsEvent, view) {
            document.getElementById('eventStartDate').value = date.format()
        },
        
        // eventClick: function(calEvent, jsEvent, view) {

        //     alert('Event: ' + calEvent.title);
        //     alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        //     alert('View: ' + view.name);

        //     // change the border color just for fun
        //     $(this).css('border-color', 'red');

        // },
        events: [ 

        ],
        editable:true,

    });

});

</script>
<script type="text/javascript"> 
    function showEducationalClasses() {
    var educationalClasses = document.getElementById("educationalClasses");
    var eventsCalendar = document.getElementById("eventsCalendar");
    // var update_form = document.getElementById("updateForm");
      if(educationalClasses.style.display === "none"){
      	educationalClasses.style.display = "block"
      	eventsCalendar.style.display = "none"
      }       
    };

    function showEventsCalendar() {
    var educationalClasses = document.getElementById("educationalClasses");
    var eventsCalendar = document.getElementById("eventsCalendar");
    // var update_form = document.getElementById("updateForm");
      if(eventsCalendar.style.display === "none"){
      	educationalClasses.style.display = "none"
      	eventsCalendar.style.display = "block"
      }       
    };
</script>

{% endblock js%}


<style>
.fc-day-grid-event > .fc-content {
    white-space: normal;
}
</style>

<div class="col-12 text-center">
    {% if user.is_authenticated and perms.home.edit_ranges_page%}
      <button class="btn btn-warning" onclick="editPageContents()"><h3>Edit Events Page</h3></button>
      <br>
      <br>
    {% else %}
        <h3>Events</h3>
    {% endif%}
</div>


<div class="row" id="content">
	<div class="col-3">
		<button class="btn btn-info" onclick="showEventsCalendar()">Events Calendar</button>
	</div>
	<div class="col-3">
		<button class="btn btn-info" onclick="showEducationalClasses()">Classes</button>
	</div>
</div>
<br>
<div id="educationalClasses" style="display:none">

<div class="row">
	<div class="col-12 customDivs">
		<h3 class="text-center">Hunter Education Classes</h3>
		<img src="{% static 'images/logos/logo-cpw.png' %}" class="rounded mx-auto d-block">
		<div>
			All registration for the hunter ed classes is accomplished via the attached CPW web site. DO NOT contact any of the instructors to register. Contact Mitch Arnold @720-496-6106 and Bob Ventura @ 303-953-1966 if you have any questions regarding prerequisites, agenda, format, etc. All classes are conducted at the clubhouse located in the Lockheed Martin Recreational Center. Classes are open to the general public. Parents who already have a hunter ed card and are attending the class with their child do not need to register for the class.
			<br>
			<br>
			<div class="col text-center">
				
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHunterEd" aria-expanded="false" aria-controls="collapseHunterEd">
    				Registration Links
  				</button>
  				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHunterEdArcheryDates" aria-expanded="false" aria-controls="collapseHunterEdArcheryDates">
    				2018 Archery Dates
  				</button>
  				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHunterEdRifleDates" aria-expanded="false" aria-controls="collapseHunterEdRifleDates">
    				2018 Rifle Dates
  				</button>
			</div>
  			<div class="collapse " id="collapseHunterEd">
  				<div class="card card-body customDivs">
  				    <a href="https://www.register-ed.com/programs/colorado?" target="_blank">All Courses</a>
					<br>
    				<a href="http://register-ed.com/programs/colorado/99-colorado-hunter-education-internet-conclusion-course" target="_blank">Hunter Education Course (Classroom)</a> 
					<br>
					<a href="http://register-ed.com/programs/colorado/98-colorado-hunter-education-course">Hunter Education Course (Internet)</a>
					<br>
					<a href="http://register-ed.com/programs/colorado/100-colorado-bowhunter-education-course">Hunter Education Course (Bowhunter)</a>
					For a bowhunter ed course. Contact Mitch Arnold at 720-496-6106 for more information.
  				</div>
			</div>
			<br>
			<div class="collapse " id="collapseHunterEdArcheryDates">
  				<div class="customDivs text-center">
  					<h5>2018 Archery Dates</h5>
  					<ul class="list-group">
  						<li class="list-group-item list-group-item-dark">Wednesday March 21 1800 to 2100</li>
  						<li class="list-group-item list-group-item-dark">Thursday March 22 1800 to 2100</li>
  						<li class="list-group-item list-group-item-dark">Saturday March 24 0730 to 1600 Class & Range</li>
  						<li class="list-group-item list-group-item-dark">Saturday June 2 0730 to 1600 Class & Range</li>
  						<li class="list-group-item list-group-item-dark">Saturday July 28 0730 to 1600 Class & Range</li>
					</ul>
  				</div>
			</div>
			<div class="collapse text-center" id="collapseHunterEdRifleDates">
  				<div class="customDivs text-center">
  					<h5>2018 Rifle Dates</h5>
  					<ul class="list-group">
  						<li class="list-group-item list-group-item-dark">Saturday Feb 24 0730 to 1200</li>
						<li class="list-group-item list-group-item-dark">Saturday March 17 0730 to 1200</li>
						<li class="list-group-item list-group-item-dark">Saturday April 14 0730 to 1200</li>
						<li class="list-group-item list-group-item-dark">Saturday May 19 0730 to 1200</li>
						<li class="list-group-item list-group-item-dark">Tuesday June 19 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Wednesday June 20 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Thursday June 21 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Saturday June 23 0900 to 1200</li>
						<li class="list-group-item list-group-item-dark">Tuesday July 17 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Wednesday July 18 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Thursday July 19 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Saturday July 21 0900 to 1200</li>
						<li class="list-group-item list-group-item-dark">Tuesday August 14 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Wednesday August 15 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Thursday August 16 1800 to 2100</li>
						<li class="list-group-item list-group-item-dark">Saturday August 18 0900 to 1200</li>
						<li class="list-group-item list-group-item-dark">Saturday September 22 0730 to 1200</li>
						<li class="list-group-item list-group-item-dark">Saturday October 20 0730 to 1200</li>
						<li class="list-group-item list-group-item-dark">Saturday November 17 0730 to 1200</li>
  					</ul>
  				</div>
			</div>
		</div>
		<br>
		<div class="col-12 bg-info customDivs text-center">
			<b>
			    <h5>Cost</h5>
			    $10 per student
			   	<br>
			   	Additional fee apply to students taking the classroom portion on the internet.
			</b>
			<br>
		</div> 
		<br>
	</div>
	<div class="col-12 customDivs">
		
	</div>
</div>
<br>
<div class="row">
	<div class="col-12 customDivs">
		<h3 class="text-center">NRA Classes</h3>
		<img src="{% static 'images/logos/logo-nra.png' %}" class="rounded mx-auto d-block">
		<div>
			NRA Class Schedule for Basic and Concealed Carry Now Available. The club has loaded our next NRA Basic Pistol (BP) and Personal Protection in the Home (PPITH) classes into the NRA system for tracking completions. The same format of a Thursday or Friday evening to accomplish the classroom portion, Saturday or Sunday range and a following weeknight for completion. 
		</div>
		<br>
		<div class="col-12 bg-info customDivs text-center">
			<b>
			    <h5>Cost</h5>
				$50 for members and family.
				<br>
				$75 for nonmembers and guests.
			</b>
			<br>
		</div> 
		<br>
	</div>
</div>
<br>
<div class="row">
	<div class="col-12 customDivs">
		<h3 class="text-center">Home Firearm Safety Class</h3>
		<img src="{% static 'images/logos/logo-hunter_education.png' %}" class="rounded mx-auto d-block">
		<div>
			Home Firearm Safety Classes are held on the second off Friday of each month at the clubhouse at 5 pm only if someone RSVP for the class.  Contact Gene per info below to RSVP.  The class is ~4 hours long.  Range session is typically the Saturday or Sunday following the class and is decided during the classroom session and may not be listed in the event calendar.
			<br>
			<br>
			We will hold an optional range session, date to be announced at the class, for any class participants that may want to develop their range skills and familiarization.
			<br>
			<br>
			Just as the class is open to all, the range session is open to any previous class participants who'd like to reorient themselves to the basic requirements and range protocols.
			<br>
			<br>
			Please contact Gene Adamson, 303-667-2871, if you need HFS class or have questions.
		</div>
		<br>
		<div class="col-12 bg-info customDivs text-center">
			<b>
			    <h5>Cost</h5>
				The class is free and members are encouraged to bring anyone that they may want to bring to the range in the future
			</b>
			<br>
		</div> 
		<br>
	</div>
</div>
<br>
</div>

<div id="eventsCalendar">
	
<div class="row" >
	<div class="col-4 text-center">
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#test" aria-expanded="false" aria-controls="test">
    		New Event
  		</button>
  		<div class="collapse " id="test">
  				
		</div>
	</div>
	<div class="col-8 text-center" id="calendar_container" >
        <h3>Events Calendar</h3>
        <div id='EVENTScalendar'></div>
        <br>
    </div>
</div>
</div>


<div class="row>">
    
</div>
{% endblock %}