<!-- templates/home.html-->
<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SHFC-Events{% endblock %}

{% block content %}

{% block js %}


<script type="text/javascript">
$(document).ready(function() {

    
    $('#EVENTScalendar').fullCalendar({
    	dayClick: function(date, jsEvent, view) {
            document.getElementById('eventStartDate').value = date.format()
        },
        
        // eventClick: function(calEvent, jsEvent, view) {

        //     alert('Event: ' + calEvent.title);
        //     alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        //     alert('View: ' + view.name);

        //     // change the border color just for fun
        //     $(this).css('border-color', 'red');

        // },
        events: [ 

        ],
        editable:true,

    });

});

</script>
<script type="text/javascript"> 
    function showEducationalClasses() {
    var educationalClasses = document.getElementById("educationalClasses");
    var eventsCalendar = document.getElementById("eventsCalendar");
    // var update_form = document.getElementById("updateForm");
      if(educationalClasses.style.display === "none"){
      	educationalClasses.style.display = "block"
      	eventsCalendar.style.display = "none"
      }       
    };

    function showEventsCalendar() {
    var educationalClasses = document.getElementById("educationalClasses");
    var eventsCalendar = document.getElementById("eventsCalendar");
    // var update_form = document.getElementById("updateForm");
      if(eventsCalendar.style.display === "none"){
      	educationalClasses.style.display = "none"
      	eventsCalendar.style.display = "block"
      }       
    };
</script>

{% endblock js%}


<style>
.fc-day-grid-event > .fc-content {
    white-space: normal;
}
</style>

<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center">
            <h1>Events</h1>
            <h2>Calendar</h2>
        </div>
    </div>
</div>
<br>
<div class="row" >
	<div class="col-12 text-center" id="calendar_container" >
        <div id='EVENTScalendar'></div>
        <br>
    </div>
</div>


<div class="row>">
    
</div>
{% endblock %}