<!-- templates/home.html-->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="row">
  <div class="col-12 text-center">
      <h3>Home</h3>
  </div>
</div>
<div class="row" >
	<div class="col-12 customDivs" id="about">
    <h3>About</h3>
      <p>
        With the ever increasing strains and pressures of modern day life, it is not only desirable but necessary to put them aside occasionally and live for awhile under the more primitive conditions which enabled them to build this great nation. From this, the Skyline Hunting and Fishing Club encourages, to the highest degree, sportsmanship not only among its members, but all persons engaged in a competitive or noncompetitive sporting events. including hunting and fishing. It is a growing club constantly adding new facilities and activities which call for new members. Whether you are interested in upland game, waterfowl, big game, fishing, conservation, shooting, archery, hunter and bow hunter education or social events, the Skyline Hunting and Fishing Club wants to be a part of your recreation.
      </p>
      <p>
        The Skyline Hunting and Fishing Club, Inc. is a very active organization of approximately 800 sportsmen. The club oversees many activities such as fishing, hunting, hunter and bowhunter education classes, firearms safety classes, organized as well as general recreational shooting.</p>
  </div>
</div>
<br>
<div class="row">
    <div class="col-5 customDivs" id="facilities">
      <h3>Facilities</h3>
        <p>
          The shooting and archery facilities, which are located at the Lockheed Martin Astronautics Waterton Plant, consists of a trap and skeet range, an enclosed 25 and 50 yard Multi Function Facility range, a 100 and 200/300 yard rifle range with concrete shooting benches under a covered area. The archery range consists of a 28 target field course as well as practice targets. The range is open for use to club members, immediate family and guests almost every day of the year with a few exceptions such as the LMA open house
        </p>
    </div>
    <div class="col-2"></div>
    <div class="col-5 customDivs" id="general">
      <h3>General</h3>
        <p>
          Board meetings are held at 5:15 p.m. the 1st Monday of every month at the club house building (M41) up the road from the ball fields in the recreation area. Member meetings are quarterly in February, May, August and December. Member Meetings at the clubhouse are on the 2nd Monday of the month, starts at 5 pm and consist of a short club business meeting, hunting or fishing videos, live demonstrations, seminars by invited guests or speakers and a delicious supper complete with beverages. A good time is always enjoyed by the members and families.
        </p>
        <p>
          The club sponsors an annual BBQ called the Bull Roast and Shooting Arcade (August) which is great fun for the entire family. In February, the annual awards banquet is held, complete a with catered dinner. At this function, the new club officers are installed and all of the fishing, hunting, archery and shooting awards are presented.
        </p>
    </div>
</div>
 
{% endblock %}