<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SHFC-Range{% endblock %}

{% block content %}

<style>
.fc-day-grid-event > .fc-content {
    white-space: normal;
}
</style>

<script type="text/javascript">
$(document).ready(function() {

    $('#RSOcalendar').fullCalendar({
        dayClick: function(date, jsEvent, view) {
            document.getElementById('rsoStartDate').value = date.format()
        },
        eventClick: function(calEvent, jsEvent, view) {

            alert('Event: ' + calEvent.title);
            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            alert('View: ' + view.name);

            // change the border color just for fun
            $(this).css('border-color', 'red');

        },
        events: [ 
            {% for i in rso_calendar_data %}
        {
                start:"{{i.start_date | date:'Y-m-d'}}",
                end:"{{i.end_date | date:'Y-m-d' }}",
                title:"{{i.rso_user.last_name}} {{i.start_date | date:'P'}}-{{i.end_date | date:'P'}} ",

        },
            {% endfor%}
        ],
        editable:true,
    });

});

</script>

<script type="text/javascript"> 

function updateRSOCalendar(pk_value, start_date, start_time, end_time, rso_user_pk){
  var pk = document.getElementById("pk");
  var rsoStartDate = document.getElementById("rsoStartDate");
  var rsoStartTime = document.getElementById("rsoStartTime");
  var rsoEndTime = document.getElementById("rsoEndTime");
  var rso_user = document.getElementById("rso_user");
  rsoStartDate.value=start_date
  rsoStartTime.value=start_time
  rsoEndTime.value=end_time
  pk.value=pk_value
  rso_user.value=rso_user_pk
  
};

</script>


{% if user.is_authenticated and perms.home.edit_rso_calendar%}
<div class="row customDivs">
    <div class="col-12 text-center">
        <h1>RSO Calendar Management</h1>
    </div>

    <div class="col-6" style="height:300px; overflow-y: scroll;">
    {% if personal_rso_calendar_data %}

    {% for duity in personal_rso_calendar_data %}
      <div class="list-group">
        <button type="button" onclick="updateRSOCalendar({{duity.pk}}, '{{duity.start_date | date:'Y-m-d'}}','{{duity.start_date | date:'H:i'}}','{{duity.end_date | date:'H:i'}}', {{duity.rso_user.pk}} )" class="list-group-item list-group-item-action">
          {{duity.rso_user.last_name}}, {{duity.rso_user.first_name}},<br>
          {{duity.start_date | date:'F d, Y'}}<br> 
          {{duity.start_date | date:'P'}} - {{duity.end_date | date:'P'}}
        </button>
      </div>
    {% endfor %}
    {% else %}
      <h3>You have no scheduled duties</h3>
    {% endif %}  
    </div>      
    <div class="col-6 customDivs" >
    <form action={% url 'shfc:updateRSOCalendar' %} method="post">
        {% csrf_token %}
        <div class="form-group" style="display:none">
            <label for="pk">Id</label>
            <input name="reservation_id" class="form-control" type="number" id="pk">
        </div>
        <div class="form-row">
            <div class="col-12">
              <label for="rsoStartDate">Date / Time</label>
              <input name="rso_startDate" class="form-control" placeholder="yyyy-mm-dd" type="text" id="rsoStartDate" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
            </div>
            <div class="col-6">
              
            
            <label for="rsoStartTime">Start Time</label>
            <select name="rso_startTime" class="form-control" id="rsoStartTime">
                <option value="07:00">7:00AM</option>
                <option value="07:30">7:30AM</option>
                <option value="08:00">8:00AM</option>
                <option value="08:30">8:30AM</option>
                <option value="09:00">9:00AM</option>
                <option value="09:30">9:30AM</option>
                <option value="10:00">10:00AM</option>
                <option value="10:30">10:30AM</option>
                <option value="11:00">11:00AM</option>
                <option value="11:30">11:30AM</option>
                <option value="12:00">12:00PM</option>
                <option value="12:30">12:30PM</option>
                <option value="13:00">1:00PM</option>
                <option value="13:30">1:30PM</option>
                <option value="14:00">2:00PM</option>
                <option value="14:30">2:30PM</option>
                <option value="15:00">3:00PM</option>
                <option value="15:30">3:30PM</option>
                <option value="16:00">4:00PM</option>
                <option value="16:30">4:30PM</option>
                <option value="17:00">5:00PM</option>
                <option value="17:30">5:30PM</option>
                <option value="18:00">6:00PM</option>
                <option value="18:30">6:30PM</option>
                <option value="19:00">7:00PM</option>
                <option value="19:30">7:30PM</option>
                <option value="20:00">8:00PM</option>
                <option value="20:30">8:30PM</option>
                <option value="21:00">9:00PM</option>
                <option value="21:30">9:30PM</option>
                <option value="22:00">10:00PM</option>
            </select>
            </div>
            <div class="col-6">
              
            <label for="rsoEndTime">End Time</label>
            <select name="rso_endTime" class="form-control" id="rsoEndTime">
                <option value="07:00">7:00AM</option>
                <option value="07:30">7:30AM</option>
                <option value="08:00">8:00AM</option>
                <option value="08:30">8:30AM</option>
                <option value="09:00">9:00AM</option>
                <option value="09:30">9:30AM</option>
                <option value="10:00">10:00AM</option>
                <option value="10:30">10:30AM</option>
                <option value="11:00">11:00AM</option>
                <option value="11:30">11:30AM</option>
                <option value="12:00">12:00PM</option>
                <option value="12:30">12:30PM</option>
                <option value="13:00">1:00PM</option>
                <option value="13:30">1:30PM</option>
                <option value="14:00">2:00PM</option>
                <option value="14:30">2:30PM</option>
                <option value="15:00">3:00PM</option>
                <option value="15:30">3:30PM</option>
                <option value="16:00">4:00PM</option>
                <option value="16:30">4:30PM</option>
                <option value="17:00">5:00PM</option>
                <option value="17:30">5:30PM</option>
                <option value="18:00">6:00PM</option>
                <option value="18:30">6:30PM</option>
                <option value="19:00">7:00PM</option>
                <option value="19:30">7:30PM</option>
                <option value="20:00">8:00PM</option>
                <option value="20:30">8:30PM</option>
                <option value="21:00">9:00PM</option>
                <option value="21:30">9:30PM</option>
                <option value="22:00">10:00PM</option>
            </select>
            </div>

        {% if perms.home.edit_rso_calendar_admin %}
            <label for="rso_user">User</label>
            <select name="rso_user" class="form-control" id="rso_user">
            {% for user in rso_users_list %}
                <option value="{{user.pk}}">{{user.last_name}}, {{user.first_name}}</option>
            {% endfor %}
            </select>
        </div>
        {% else %}
            <label for="rso">User</label>
            <input type="text" class="form-control" id="announcementUser"  value="{{user.username}}" readonly/>
            <input type="text" name="rso_user" class="invisible" value="{{user.pk}}" readonly/>                 
        </div>
        {% endif %}
        <div class="form-row text-center">
          <div class="col-6">
            <input type="submit" name="create" value="Create RSO Duity" class="btn btn-success"/>
          </div>
          <div class="col-6">
            <input type="submit" name="update" value="Update RSO Duity" class="btn btn-warning"/>
          </div>
          <div class="col-12">
            <input type="submit" name="delete" value="Delete RSO Duity" class="btn btn-danger"/>
          </div>
          </div>
    </form>
    </div>
</div>
{% else %}
<div class="row customDivs">
    <div class="col-12 text-center">
        <h2>RSO Calendar Management</h2>
    </div>
    <div class="col-12 text-center">
      <br>
      <h5>You do not have permissions to manage RSO dates.</h5>
      <br>
    </div>
</div>
{% endif %}
{% endblock %}