<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SHFC-Membership{% endblock %}

{% block content %}

<div class="col-12 text-center"><h1>Membership</h1></div>

<div class="row">
	
  <div class="col-12 bg-danger text-center customDivs">
    <b>
      Skyline Hunting & Fishing is private - You must be an employee or retiree of Lockheed Martin Company, United Launch Alliance (ULA), or an affiliated Defense Dept contractor for eligibility for membership
    </b>
  </div>
</div>

<br>
  
<div class="row">
  <div class="col-12 customDivs">
    <div class="col-12 text-center">
	  	<h4>How to Join</h4>
    </div>
    <div class="col-12">
      <ol>
        <li>An application for membership </li>
        <li>A liability waiver</li>
        <li>A completed range access test</li>
        <li>Proof of firearms training (more below)</li>
        <li>Membership dues</li>
      </ol>
      <p>
        Fill out an application for membership, a liability waiver, read the range rules and take the range access test.  Have these completed documents with a check for dues and a photocopy of proof that you've had some kind of firearms training for the range orientation briefing.
      </p>
      <p>
        Gather these completed documents and a good phone number for our membership person to contact you. Once all of your paperwork is ready, contact John LaRue at M/S V4912 or call him at 720-937-5954 for more information.  John will contact you to set up a range orientation where you will submit your paperworkand give you your membership badge.
      </p>
    </div>
  </div>
</div>

<br>

<div class="row">
	<div class="col-12 customDivs">
    <div class="col-12 text-center">
    	<h4>Acceptable Proof of Firearms Training</h4>
    </div>
    <div class="col-12">	
      <p>
    	  Acceptable proof of firearms training can include a CCW permit, DD-214, Hunter Education card, a certificate from a competition, certificate of completion from an NRA course, etc. 
    	</p>
    	<p>
    	  If you don’t have firearms training of any kind, the club periodically offers a fairly short “home firearm safety” certification course in our clubhouse out by the softball fields (map below). If you want to take a more thorough training course, the club offers training to get your Hunter’s Education card and it offers a couple of NRA certification courses, but both of those are multiple day endeavors. Dates for these are listed on the Events Calendar.
    	</p> 
    </div> 
  </div>
</div>
<br>
<div class="row">
  <div class="col-12 customDivs">
    <div class="col-12 text-center">
      <h4>Documents</h4>
    </div>
    <div class="col-12">
      
      <ul class="list-group">
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/2018 Application for Membership.pdf' %}" download>
                  2018 Application for Membership
              </a>
          </li>
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/2016 Range Rules (03-22-16).pdf' %}" download>
                  2016 Range Rules (03-22-16).pdf
              </a>
          </li>
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/' 2018 Cease Fire Rules Chart.pdf%}" download>
                  2018 Cease Fire Rules Chart.pdf
              </a>
          </li>
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/2018 Liability-Waiver Form (Member) Addtional Statements.pdf' %}" download>
                  2018 Liability-Waiver Form (Member) Addtional Statements.pdf
              </a>
          </li>
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/2018 Liability-Waiver Form (Member).pdf' %}" download>
                  2018 Liability-Waiver Form (Member).pdf
              </a>
          </li>
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/2018 Range Orientation Walk Down Checklist.pdf' %}" download>
                  2018 Range Orientation Walk Down Checklist.pdf
              </a>
          </li>
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/2018 Range Safety Access Test.pdf' %}" download>
                  2018 Range Safety Access Test.pdf
              </a>
          </li>
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/SHFC By Laws 2016.pdf' %}" download>
                  SHFC By Laws.pdf
              </a>
          </li>
          <li class="list-group-item list-group-item-dark">
              <a href="{% static 'documents/membership/SHFC MOA 2016.pdf' %}" download>
                  SHFC MOA.pdf
              </a>
          </li>
      </ul>
    </div>
  </div>
  <br>
</div>
{% endblock %}