<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Agents / Accounts{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12 customDivs">
        <div class="col-12 text-center">
            <h1>Purchasing </h1>
            <h2>Agents / Accounts</h2>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-12 bg-danger text-center customDivs">
    	The club has five purchasing agents responsible for processing FFL orders. All orders must be processed through one of the firearms agents listed below.
    	<br>
		  Members are prohibited from directly handling the FFL. On-line auctions require coordination with a purchasing agent prior to bidding. Firearm purchases shall follow the Skyline Hunting and Fishing Purchasing Policy and Practices below
	 </div>
</div>
<br>

<div class="row customDivs">
  <div class="col-6">
    <div class="col-12 text-center">
  	    <h3>Purchasing Agents</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark">John Parker
        <ul>
          <li>(Class 1 & Class 3 Firearms & Accessories)</li> 
          <li>303-977-5268</li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-dark">
        Dave Mulholland
        <ul>
          <li>(Class 1 Firearms & Accessories)</li>
          <li>303-977-3674</li> 
        </ul> 
      </li>
      <li class="list-group-item list-group-item-dark">
        John DeAngelis
        <ul>
          <li>(Redding)</li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-dark">
        Bill Lhotta
        <ul>
          <li>(Powder Valley)</li>
        </ul>
      </li>
      <li class="list-group-item list-group-item-dark">
        John LaRue 
        <ul>
          <li>(Class 3 Firearms & Accessories, & Firearms Transfers)</li>
          <li>303-977-9807</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <div class="col-12 text-center">
        <h3>Accounts</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark">
        <a href="http://www.amsecusa.com/"   target="_blank"><b>American Security</b>
        </a>
      </li>    
      <li class="list-group-item list-group-item-dark">
        <a href="https://www.blueridgeknives.com/"   target="_blank"><b>Blue Ridge Knives</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="https://www.crowshootingsupply.com/DefaultResp.aspx"   target="_blank"><b>Crow Shooting Supplies</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="https://www.forsterproducts.com/"   target="_blank"><b>Forester Products</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="https://www.ftknox.com/"   target="_blank"><b>Fort Knox Valuts</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="http://www.glockstore.com/"   target="_blank"><b>Glock Store</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="https://www.hsprecision.com/shop2/"   target="_blank"><b>H-S Precision</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="http://mynssa.nssa-nsca.org/"   target="_blank"><b>NSSA</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="https://www.powdervalleyinc.com/"   target="_blank"><b>Powder Valley</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="http://www.redding-reloading.com/"   target="_blank"><b>Redding Reloading</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="https://www.rsrgroup.com/"   target="_blank"><b>Rsr Group</b>
        </a>
      </li>
      <li class="list-group-item list-group-item-dark">
        <a href="https://www.sogknives.com/"   target="_blank"><b>SOG Knives</b>
        </a>
      </li>
    </ul>
  <br>
  </div>
</div>
<br>
<div class="row">
  <br>
  <div class="col-2"></div>
  <div class="col-8">
    <img src="{% static 'images/logos/logo-sheet.jpg' %}" class="w-100">
  </div>
  <div class="col-2"></div>
</div>



{% endblock %}