<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SHFC-Range{% endblock %}

{% block content %}

<div class="row">
	<div class="col-12 text-center"><h2>Purchasing</h2></div>
</div>

<div class="row">
    
    <div class="col-12 bg-danger text-center customDivs">
    	The club has four purchasing agents responsible for processing FFL orders. All orders must be processed through one of the firearms agents listed below.
    	<br>
		Members are prohibited from directly handling the FFL. On-line auctions require coordination with a purchasing agent prior to bidding. Firearm purchases shall follow the Skyline Hunting and Fishing Purchasing Policy and Practices below
	</div>
</div>
<br>



<div class="row">
	
	<div class="col-6 customDivs">
	<h3>Purchasing Agents</h3>
	<div class="col-12">
		<ul class="list-unstyled">
  		<li>John Parker
  			<ul>
  				<li>(Class 1 & Class 3 Firearms & Accessories)</li> 
  				<li>303-977-5268</li>
  			</ul>
  		</li>
  		<li>
  			Dave Mulholland
  			<ul>
  				<li>(Class 1 Firearms & Accessories)</li>
  				<li>303-977-3674</li>	
  			</ul> 
  		</li>
  		<li>
  			John DeAngelis
  			<ul>
  				<li>(Redding)</li>
  			</ul>
  		</li>
  		<li>
  			Bill Lhotta
  			<ul>
  				<li>(Powder Valley)</li>
  			</ul>
  		</li>
  		<li>
  			John LaRue 
  			<ul>
  				<li>(Class 3 Firearms & Accessories, & Firearms Transfers)</li>
  				<li>303-977-9807</li>
  			</ul>
  		</li>
	</ul>
	</div>
	</div>


<!-- 		<div class="col-12">
			<img src="{% static 'images/logos/logo-rsr.png' %}" style="max-width:100%; max-height:100%;">
		</div>
		<div class="col-12">
			<img src="{% static 'images/logos/logo-zev.png' %}" style="max-width:100%; max-height:100%;">
		</div>
		<div class="col-12">
			<img src="{% static 'images/logos/logo-magpul.png' %}" style="max-width:100%; max-height:100%;">
		</div>
		<div class="col-12">
			<img src="{% static 'images/logos/logo-sportssouth.jpeg' %}" style="max-width:100%; max-height:100%;">
		</div>
		<div class="col-12">
			<img src="{% static 'images/logos/logo-davidsons.png' %}" style="max-width:100%; max-height:100%;">
		</div> -->
</div>

{% endblock %}