{% extends 'base.html' %}
{% load static %}
{% block title %}Work Bonds{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <h1>Workbonds</h1>
    </div>
</div>
<div class="row customDivs">
    <div class="col-12">
        <div class="col-12 text-center">
            <h3>RSO Range Master Software User's Manual </h3>
        </div>
    </div>
    <div class="col-12">
        <p> 
            Are you interested in earning work bond and helping the club? Do you have word processing and writing skills? Can you explain how to use computer software and systems in generally understandable terms? If so, we have an opportunity for you!
        </p>
        <p>
            The software team is looking for a technical writer to produce and maintain a user’s manual for the RangeManger software and RSO computer systems. Ideally, the candidate will maintain the documentation on the software team’s internet wiki site and print updated copies to be placed in the RSO shed on a as-needed basis. Your efforts would support our dedicated RSO’s during their shifts and help to keep the range available for your use.
        </p>
        <p>
            The candidate will received a sandboxed executable version of the software which will allow them to test the software on their own computer system (Windows, Mac OS X, or Linux). Candidates having a background in training or technical writing would be a major plus! The candidate will need a personal computer and an internet connection. If you are interested in this opportunity to help the club, please contact Danny Hanson via email (dan.hanson@pobox.com) or cellular phone (303-six one nine-4992).
        </p>
    </div>
</div>
<br>
<div class="row customDivs">
    <div class="col-12">
        <div class="col-12 text-center">
            <h3>Range Master Software Development</h3>
        </div>
    </div>
    <div class="col-12">
        <p> 
            Are you interested in earning work bond and helping the development of the club’s RangeManager software application? Do you have ideas on how to improve the RangeManger application? Do you have experience in any of the following areas:
        </p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
                Python 2.7.x (or experience in Java or C++ object-orientated programming and a desire to learn Python)
            </li>
            <li class="list-group-item list-group-item-dark">
                Structured Query Language (SQL)
            </li>
            <li class="list-group-item list-group-item-dark">
                Tcl/Tk (specifically Tkinter)
            </li>
            <li class="list-group-item list-group-item-dark">
                Linux software development
            </li>
            <li class="list-group-item list-group-item-dark">
                Linux system administration
            </li>
        </ul>
        <br>
        <p>
            The candidate will received a sandboxed executable version of the software running in VirtualBox which will allow them to develop and test on their own computer system (Windows, Mac OS X, or Linux). The candidate will need a personal computer and an internet connection. If you are interested in this opportunity to help the club, please contact Danny Hanson via email <a href="mailto:dan.hanson@pobox.com">dan.hanson@pobox.com</a> or cellular phone (303-six one nine-4992).
        </p>
    <br>
    </div>
</div>
{% endblock %}